spring.datasource.username=
spring.datasource.password=
spring.datasource.url=jdbc:postgresql://localhost:5432/silkroad
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=create-drop
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
server.error.include-message=always
spring.main.banner-mode=off
rsa.public-key =classpath:certs/public.pem
rsa.private-key=classpath:certs/private.pem
logging.level.org.springframework=ERROR